{% extends "layout.html" %}
{% block content %}
    <div class="container text-center">
        <div style="margin-bottom: 4%;"">
            <h2 class="text-center" style="margin-top: 4%;" >
                Исходный порядок
            </h2>
            <div class="row">
              <div class="col-3">
                <div class="row p-4">
                    <table class="table table-bordered" >
                        <thead>
                          <tr>
                            <th scope="col">№</th>
                            <th scope="col">a<sub>i</sub></th>
                            <th scope="col">b<sub>i</sub></th>
                            {% if type == 3 %}
                                <th scope="col">c<sub>i</sub></th>
                            {% endif %}
                            
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                            {% if type == 3 %}
                                <td><input type="text" class="form-control"></td>
                            {% endif %}
                            
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                            {% if type == 3 %}
                                <td><input type="text" class="form-control"></td>
                            {% endif %}
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                            {% if type == 3 %}
                                <td><input type="text" class="form-control"></td>
                            {% endif %}
                          </tr>
                          <tr>
                            <th scope="row">4</th>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                            {% if type == 3 %}
                                <td><input type="text" class="form-control"></td>
                            {% endif %}
                          </tr>
                          <tr>
                            <th scope="row">5</th>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                            {% if type == 3 %}
                                <td><input type="text" class="form-control"></td>
                            {% endif %}
                          </tr>
                        </tbody>
                      </table>
                </div>
                    <button type="button" class="btn btn-primary" style="width: 90%;" id="drawGraph"> Построение графика Ганта </button>
                    <button type="button" class="btn btn-primary" style="width: 90%; margin-top: 3%;" id="findDecision">Поиск оптимального порядка</button>
                </div>
              <div class="col-9">
                <div class="row p-4" id = "cardChart1" style="display: none;">
                    <div class="card mb-4 m-auto p-0 text-center" style = "width: 90%; height: 500px;">
                        
                        <div class="card-body" >
                            <div id = "chart1" style="margin-left: 0; margin-right: 0; margin-bottom: 0; margin-top: auto; height: 480px; width: 800px;" ></div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>

        <div id = "cardChart2" style="display: none;">
            <h2 class="text-center">
                Оптимальный порядок
            </h2>
            <div class="row">
                <div class="col-3">
                    <div class="row p-4">
                        <table class="table table-bordered" >
                            <thead>
                              <tr>
                                <th scope="col" style="width: 10px;">№</th>
                                <th scope="col" style="width: 10px;">№<sub>исх</sub></th>
                                <th scope="col"> a<sub>i</sub></th>
                                <th scope="col"> b<sub>i</sub></th>
                                {% if type == 3 %}
                                  <th scope="col">c<sub>i</sub></th>
                                {% endif %}
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td class="res-cell" text="abc">Mark</td>
                                <td class="res-cell">Mark</td>
                                <td class="res-cell">Mark</td>
                                {% if type == 3 %}
                                  <td class="res-cell"></td>
                                {% endif %}
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td class="res-cell">Mark</td>
                                <td class="res-cell">Mark</td>
                                <td class="res-cell">Mark</td>
                                {% if type == 3 %}
                                  <td class="res-cell"></td>
                                {% endif %}
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td class="res-cell">Mark</td>
                                <td class="res-cell">Mark</td>
                                <td class="res-cell">Mark</td>
                                {% if type == 3 %}
                                  <td class="res-cell"></td>
                                {% endif %}
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td class="res-cell">Mark</td>
                                <td class="res-cell">Mark</td>
                                <td class="res-cell">Mark</td>
                                {% if type == 3 %}
                                  <td class="res-cell"></td>
                                {% endif %}
                              </tr>
                              <tr>
                                <th scope="row">5</th>
                                <td class="res-cell">Mark</td>
                                <td class="res-cell">Mark</td>
                                <td class="res-cell">Mark</td>
                                {% if type == 3 %}
                                  <td class="res-cell"></td>
                                {% endif %}
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
                <div class="col-9">
                  <div class="row p-4">
                      <div class="card mb-4 m-auto p-0 text-center" style = "width: 90%; height: 500px;">
                          <div class="card-body" >
                              <div id = "chart2" style="margin-left: 0; margin-right: 0; margin-bottom: 0; margin-top: auto; height: 480px; width: 800px;" ></div>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
        </div>
        
      </div>

    

    

    <!-- plotly CDN -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script>
        //var graph1 = {{ graph1JSON | safe}};
        //Plotly.plot("chart1", graph1, {})
        //Plotly.plot("chart2", graph1, {})
    </script>
{% endblock %}